@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');




body{
color: darkblue;
background-color: white;
margin: 0px;
margin-bottom: 100px;
font-family: "Roboto Mono", monospace;
} 

h1{color: darkblue;
font-size: 40px;

}
p{
    font-size: 20px;
}

header{
    border-bottom: solid 2px #CC3D21;
    margin: 20px;
    font-size: 32px;
    color: blue;

}

section{
 padding-bottom: 80px ;
padding-top: 80px;
background: #CC3D21;
display: flex;
justify-content: center;
color: aqua;
}

h1{
color: beige;
font-size: 40px;


}
p{
font-size: 20px;

}
